.MuiListItemIcon-root {
  color: #8278fd !important;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 45px !important;
}

.share-info--card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}
