.codechallenge-title--header {
  font-weight: 600;
}

.codechallenge-title--line {
  width: 8%;
  color: #7772f0;
  height: 3px !important;
  opacity: unset;
}

.codechallenge-title--text {
  color: #777;
}
