.staytuned-info--card {
  background-color: #8278fd !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}

.staytuned-info--card > svg {
  color: #fff;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 45px !important;
}
