.tools-section {
  margin-top: 7rem;
  background-color: #f5faff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  .tools-section {
    padding: 2rem 1rem;
  }
}
