html, body {
  height: 100%;
  overflow-x: hidden;
}

button {
  background-color: #673ab7 !important;
}

.App {
  font-family: 'Poppins', sans-serif;
  flex: 1;
  height: 100%;

  background-color: #673ab7;
  width: 100%;

  background:
   linear-gradient(to top right,transparent 49.8%,#673ab7 50%) top   /57% 7%;
  background-repeat:no-repeat;
  background-position: top right;
}
